.input-group-addon{
    width:100%;
}

.btn-primary{
    width: 100%;    
}
.input-group > .form-control{
    width:50px !important;
}
.row{
    margin-bottom: 7px;
}
.container{
    width: 775px;
    padding-top: 50px;
}
.chance{
    width:  75px;
}
.chance + .form-control{
    width: 100% !important;
    text-align: right;
}

#coi{
    width:100px !important;
}
