.input-group-addon{
    width:110px;
}

.btn-primary{
    width: 100%;    
}
.input-group > .form-control{
    width:75px !important;
}
.row{
    margin-bottom: 7px;
}
.container{
    width: 640px;
    padding-top: 50px;
}
.chance{
    width:  75px;
}
.chance + .form-control{
    width: 110px !important;
    text-align: right;
}
